.cardButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 84px;
}

#edit,
#copy,
#delete {
  border: 0px;
  outline: none;
  border: none;
  background-color: transparent;
}

#edit:hover,
#copy:hover,
#delete:hover{
  cursor: pointer;
}