.container {
  width: max(20rem, 50%);
  margin-inline: auto;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: white;
  border: 1px solid #e2e6eb;
  transition: box-shadow 0.2s ease-in-out;
}

.container:focus-within {
  box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.12);
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.container__titleContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container__header p {
  font-weight: 500;
  color: #1e1e1e;
}
