.appren-container {
  background-color: var(--color-pale-purple-bg);
  min-height: 100vh;
  position: relative;
  top: 0;
  width: 100%;
}

.appren-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  margin: 1rem;
  padding: 1rem;
  border-radius: 2em;
  filter: drop-shadow(0px 12px 34px rgba(0, 0, 0, 0.04));
}

.back-btn-container {
  display: flex;
  align-items: center;
}

.back-button {
  outline: 0;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 1rem;
  margin-left: 0.3em;
}

.back-button:hover {
  cursor: pointer;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1rem;
  margin-bottom: 2.5rem;
  padding: 1rem;
  border: 1px solid #d0d4da;
  border-radius: 1.25rem;
  color: #1e1e1e;
}

.progress-bar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.progress-bar__item--completed {
  font-weight: 500;
  color: var(--color-purple);
}

.apprenticeship-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.company-title__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.company-title__container input[type="file"] {
  display: none;
}

input[type="text"] {
  border-radius: 0;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  letter-spacing: 0.3px;
  color: #1e1e1e;
}

.company-logo {
  width: 80px;
  height: 80px;
  border-radius: 1.25rem;
}
.company-logo:hover {
  cursor: pointer;
}

.image-placeholder {
  width: 5rem;
  height: 5rem;
  background-color: #e2e6eb;
  border-radius: 1.25rem;
  position: relative;
}

.image-placeholder::before {
  content: url("../assets/mountain.svg");
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.image-placeholder:hover {
  cursor: pointer;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px dashed #b2b6bc;
  border-radius: 0.5rem;
  padding: 1.5rem 1.25rem;
  width: 100%;
}
.video-container input[type="file"] {
  display: none;
}

.video-container:hover {
  cursor: pointer;
}

.video-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.video-button {
  display: flex;
  padding: 0.6125rem 1rem;
  gap: 1.5rem;
  background: #edeaff;
  border-radius: 12px;
  border: none;
  color: #793ef5;
  font-weight: 500;
}
.video-button:hover {
  cursor: pointer;
}

.team-type {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;
}

.team-type input[type="radio"] {
  display: none;
}

.team-type__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0.75rem;
  border: 1px solid #cfd3d9;
  border-radius: 1.25rem;
  transition: background-color 0.2s ease-in-out;
}

.team-type__container--selected {
  background-color: #edeaff;
}

.team-type__container:hover {
  cursor: pointer;
}

.team-type__tick {
  align-self: flex-start;
}
.team-type__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  flex-grow: 1;
  font-weight: 500;
}

.team-type__icon {
  width: 1.5rem;
  height: 1.5rem;
}
