/* All Global Styles go here */

/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap");

/* Global Style Variables */
:root {
  --color-dark-black: #1e1e1e;
  --color-white: #fff;
  --color-gray-2: #8a8b8c;
  --color-purple: #793ef5;
  --color-light-purple: #edeaff;
  --color-lime-green: #72f500;
  --color-pale-purple-bg: #f1f4f8;
  --color-light-purple: rgba(102, 95, 239, 0.16);
}

/* How to use these global color variables? 
    body { 
        background-color: var(--color-purple); 
    }
*/

/* universal CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: "Space Grotesk", sans-serif;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
