.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: var(--color-purple);
}

/* Control the right side */
.right {
  right: 0;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.input-fields {
  padding-top: 25%;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
}

#password,
#email {
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 2.5em;
}

#remember-label {
  font-size: small;
  color: grey;
}

#email {
  background-image: URL("../../assets/email.JPG");
  background-position: 4% 50%;
}

#password {
  background-image: URL("../../assets/lock.JPG");
  background-position: 4% 50%;
}

input:hover {
  border-color: var(--color-purple);
}

input[type="email"],
input[type="password"] {
  width: 360px;
  height: 48px;
  border: 1px solid #cecece;
  border-radius: 16px;
  padding: 10px, 16px, 10px, 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  background-color: #f5f5f7;
}

.radicalX-logo {
  margin-top: 3em;
}

input[type="checkbox"] {
  margin-right: 5px;
  transform: scale(1.3);
}

.forget-password {
  padding-left: 5em;
  text-decoration: none;
  color: var(--color-purple);
  transition: 0.2s ease-in;
}
.forget-password:hover {
  text-decoration: underline;
  font-weight: bold;
}
.remember-me {
  margin-left: 0.5em;
  color: rgba(47, 48, 49, 0.54);
}

.login-button {
  width: 360px;
  height: 48px;
  font-family: inherit;
  border-radius: 16px;
  background-color: var(--color-purple);
  color: var(--color-white);
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.4px;
  outline: none;
  border: none;
  margin-top: 2em;
  transition: 0.2s ease-in;
}

.login-button:hover {
  cursor: pointer;
  background: var(--color-dark-black);
}

::placeholder {
  color: rgba(47, 48, 49, 0.54);
}

.title {
  width: 66px;
  padding-bottom: 1em;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #1e1e1e;
  letter-spacing: 0.4px;
}
